<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Plugin App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-button (click)="getGPS()" >GET GPS</ion-button >
  
<br>

<p> Latitude: {{lat}}</p>
<p> Longitude: {{long}}</p>
<p> Current Time: {{time}}</p>

<br>
<ion-button (click)="openCapacitorSite()" > New Browser</ion-button >
  
</ion-content>
